%% -*- mode: Erlang; fill-column: 80 -*-

%%{lib_dirs, [".."]}.

{default_release, egol, "0.0.1"}.

{overlay, [{mkdir, "log"}
           ]}.

{sys_config, "./config/sys.config"}.


%% relx will include erts by default. However, if you don't want to include
%% erts you can add the `include_erts` tuple to the config and tell relx not
%% to include it.
{include_erts, false}.

{release, {egol, "0.0.1"},
          [egol,
           sasl, lager,
           mnesia
          ]}.        
